# macOS
.DS_Store

# Python
__pycache__/
*.pyc
.venv/
env/

# VSCode
.vscode/

# Environment variables
.env
.env.*
!.env.example

# Logs
*.log

# Build artifacts
dist/
build/

# Node
node_modules/

# Database
*.sqlite3

# macOS
.DS_Store
__MACOSX/